* {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sidebar-body {
  height: 100vh;
}

.sidebar-container {
  position: fixed;
  width: 10%;
  height: 100%;
}

img {
  margin-top: 0.2rem;
  width: 1.7rem;
  filter: invert(100%);
}

.rotas:hover {
  background-color: #0e5836;
  cursor: pointer;
}

.header {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
